body {
    margin: 0;
}

#dashboard {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto;
    grid-auto-columns: 160px;
    grid-auto-rows: 160px;
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
}

canvas {
    width: 160px;
    height: 160px;
    image-rendering: pixelated;
    display: block;
    background: black;
    outline: 2px solid gray;
}

#spatial-title {
    grid-column: 1;
    grid-row: 1;
}

#spatial {
    grid-column: 1;
    grid-row: 3;
}

#spatial-channel-title {
    grid-column: 2;
    grid-row: 1;
}

#spatial-0 {
    grid-column: 2;
    grid-row: 2;
}

#spatial-1 {
    grid-column: 2;
    grid-row: 3;
}

#spatial-2 {
    grid-column: 2;
    grid-row: 4;
}

#freq-channel-title {
    grid-column: 3;
    grid-row: 1;
}

#freq-0 {
    grid-column: 3;
    grid-row: 2;
}

#freq-1 {
    grid-column: 3;
    grid-row: 3;
}

#freq-2 {
    grid-column: 3;
    grid-row: 4;
}

#kernel-title {
    grid-column: 4;
    grid-row: 1;
}

#kernel {
    grid-column: 4;
    grid-row: 3;
}

#freq-filtered-channel-title {
    grid-column: 5;
    grid-row: 1;
}

#freq-filtered-0 {
    grid-column: 5;
    grid-row: 2;
}

#freq-filtered-1 {
    grid-column: 5;
    grid-row: 3;
}

#freq-filtered-2 {
    grid-column: 5;
    grid-row: 4;
}

#spatial-reconstruct-channel-title {
    grid-column: 6;
    grid-row: 1;
}

#spatial-reconstruct-0 {
    grid-column: 6;
    grid-row: 2;
}

#spatial-reconstruct-1 {
    grid-column: 6;
    grid-row: 3;
}

#spatial-reconstruct-2 {
    grid-column: 6;
    grid-row: 4;
}

#spatial-reconstruct-title {
    grid-column: 7;
    grid-row: 1;
}

#spatial-reconstruct {
    grid-column: 7;
    grid-row: 3;
}
