@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Inconsolata:400,700');

html {
    font-size: 16px;
    font-family: Inconsolata, Menlo, monospace;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 6em 0;
    color: #333;
    line-height: 1.25;
}

footer {
    margin-top: 4em;
}

h1 {
    font-size: 1.75em;
    margin: 2rem 0 1.5rem;
    font-family: 'Bree Serif', Helvetica, Arial, sans-serif;
    color: #F26430;
}

h2 {
    font-size: 1.5em;
    margin: 2rem 0 1.5rem;
    font-family: 'Bree Serif', Helvetica, Arial, sans-serif;
    color: #F26430;
}

h3 {
    font-size: 1.125em;
    margin: 2rem 0 1.5rem;
    font-family: 'Bree Serif', Helvetica, Arial, sans-serif;
}

h4, h5, h6 {
    font-size: 1em;
    margin: 1rem 0;
}

p {
    margin: 1em 0;
    line-height: 1.5;
}

a {
    color: #5D84A6;
    text-decoration: none;
}

li {
    margin: 0.5em 0;
}

figure {
    margin: 1.5em 0;
}

figure img, canvas {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

figure > figcaption {
    margin: 0.5em 0;
}

pre, code {
    background-color: #f8f8f8;
    border-radius: 0.25em;
    font-family: Inconsolata, Menlo, monospace;
}

pre {
    border-left: 0.25em solid #eee;
    padding: 0.5em;
}

code {
    padding: 0.25em;
}

pre > code {
    background-color: none;
    border: none;
    padding: none;
}

hr {
    border: none;
    height: 2px;
    background-color: #eee;
    margin: 2em 0;
}

details {
    border: 2px solid #eee;
    border-radius: 2px;
    padding: 0.5em;
}

.slim-border {
    border: 2px solid #eee;
}

.wrapper {
    max-width: 780px;
    margin: 0 auto;
    padding: 0 1.5em;
}
