
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Source+Sans+Pro:400,400i,700');

html {

}

body {
  margin: 0 auto;
  padding: 80px 20px;
  max-width: 800px;
  font-family: "Source Sans Pro", Helvetica, Ariel, sans-serif;
  font-size: 16px;
  line-height: 1.75;
}

footer {
  padding-top: 80px;
  text-align: center;
  color: #888;
}

code {
  font-family: "Source Code Pro", monospace;
  /*white-space: pre-wrap;*/
  background-color: #f6f6f6;
  padding: 0.125em 0.25em;
  border-radius: 3px;
}

pre {
  padding: 1.5em;
  background-color: #f6f6f6;
  border-radius: 3px;
  overflow-x: auto;
}

pre code {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}

a {
  color: inherit !important;
  text-decoration: none;
  border-bottom: dotted 2px #aaa;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

/* highlight.js style */

/* github.com style (c) Vasily Polovnyov <vast@whiteants.net> */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
